*, *::before, *::after{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
} 

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #7780d3, #73f77e);

}

.calculator-grid{
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

}

.calculator-grid button {
    cursor: pointer;
    font-size: 2rem;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    background-color: rgba(125, 196, 218, 0.5);
}

.calculator-grid button:hover {
    background-color: rgba(156, 201, 214, 0.8);
}

.span-two   {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-break: break-all;
    overflow-wrap: break-word; /* Use overflow-wrap instead of word-wrap */
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}


.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgba(255, 255, 255);
    font-size: 2rem;
}